title: Piotr's Blog
email: YmxvZ0A1Z3h2Mm0ub25taWNyb3NvZnQuY29t
description: # this means to ignore newlines until "baseurl:"
  
github_username: PiotrMackowski
minimal_mistakes_skin: dark
search: true
permalink: /:title/

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Poland

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-seo-tag

author:
  name   : "Piotr Maćkowski"
  avatar : "/assets/images/personal-photo.jpg"
  bio    : "let’s ship this in the most secure way possible"
  links:
    - label: "LinkedIn"
      icon: "fab fa-linkedin-in"
      url: "https://www.linkedin.com/in/piotrmackowski/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/PiotrMackowski"
    - label: "E-mail"
      icon: "fa-solid fa-square-envelope"
      url: "mailto:YmxvZ0A1Z3h2Mm0ub25taWNyb3NvZnQuY29t"
    - label: "RSS"
      icon: "fas fa-fw fa-rss"
      url: "/feed.xml"  

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: false
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

tag_archive:
  type: liquid
  path: /tags/
